h1{
    color: black;
    font-weight: bolder;
    font-size: 35px;

}
body{
    background: url("../images/unicorn.jpeg");
}
img{
    height: 75px;
    width: 75px;
    margin: 25px;
   
}
input{
    height: 100px;
    width: 175px;
    color: black;
    font-weight: bolder;
}
h2{
    color: whitesmoke;
    margin-bottom: 25px;
    margin-left: 25px;
}
#targetNumber, #totalNumber{
    color: black;  
}

h1{
    margin-top: 35px;
    margin-bottom: 25px;
    color: purple;
    
}
.jumbotron{
   color: whitesmoke;
}
#reset{
    margin: 15px;
}
p{
    font-size: 20px;
}
#panelGems{
    margin-top: 100px;
}
#targetNumber{
    color: whitesmoke;
}
#totalNumber{
   color: whitesmoke;
}
#wins {
    color: whitesmoke;
}
#losses {
    color: whitesmoke;
}